<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <main>
    <h1>Account Dashboard</h1>
    <p>Welcome to your account!</p>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>