<%- include('../partials/head') %>

<main>
  <h2>Welcome <%= locals.firstname %></h2>
  
  <% if (locals.account_type === 'Employee' || locals.account_type === 'Admin') { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv/management">Manage Inventory</a></p>
  <% } %>
  
  <p><a href="/account/update/<%= locals.account_id %>">Update Account Information</a></p>
</main>