<main>
    <section class="hero">
        <h2>Welcome to CSE Motors!</h2>
        <img src="images/vehicles/delorean.jpg" alt="">
        <div class="hero-text">
            <h3>DMC Delorean</h3>
            <p>3 Cup holders
                Superman doors
                Fuzzy dice!
                <button>Own Today</button>
            </p>
        </div>
    </section>
    <section>
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (4/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section class="upgrade-grid">
        <div class="upgrades">
            <figure>
                <img src="images/upgrades/flux-cap.png" alt="">
                <figure>Flux Capacitor</figure>
            </figure>
            <figure>
                <img src="images/upgrades/flame.jpg" alt="">
                <figcaption>Flame Decals</figcaption>
            </figure>
            <figure>
                <img src="images/upgrades/bumper_sticker.jpg" alt="">
                <figcaption>Bumper Stickers</figcaption>
            </figure>
            <figure>
                <img src="public/images/upgrades/hub-cap.jpg" alt="">
                <figcaption>Hub Caps</figcaption>
            </figure>
        </div>
    </section>
</main>